_book/
_site/
/.quarto/

_freeze/

stan/*.exe
stan/*.o
stan/*.hpp
stan/*/

chapters/*_fit.rds
chapters/reduced_*_fit.rds

*_cache/
*_files/
.Rhistory
.RData
.Rproj.user/
*.Rproj

*.csv


*.swp
*.swo
*~
